<!DOCTYPE html>
<html>
	<head>
		{% include head.html project_title="Debian Pure Blends" page_title=page.title %}
	</head>

	<body>
		{% include header.html project_title="Debian Pure Blends" project_short="Pure Blends" project_menu="blends_menu.html" page_title=page.title %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html team_name="Debian Pure Blends Team" team_mail="debian-blends@lists.debian.org" team_archives="https://lists.debian.org/debian-blends/" team_irc="debian-blends" %}

	</body>

</html>
