<li><a href="/med/">Home</a></li>
<li><a href="/med/tasks/">Tasks</a>
<li><a href="/med/bugs/">Bugs</a></li>
<li><a href="/med/thermometer/">Thermometer</a></li>
<li><a href="/med/maintstats/">Maintainer Stats</a></li>
